body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial;
  overflow: hidden;
}

#lobby {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
}

#controls {
  position: fixed;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.playerControls button {
  padding: 15px 20px;
  font-size: 24px;
}