body {
  margin: 0;
  background: #111;
  font-family: Arial;
  overflow: hidden;
  color: white;
}

#lobby {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
}

#controls {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.playerControls {
  position: absolute;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
}

#p1Controls { bottom:10px; left:10px; }
#p2Controls { bottom:10px; right:10px; }
#p3Controls { top:10px; left:10px; }

.playerControls button {
  padding: 15px 20px;
  font-size: 24px;
  margin: 5px;
}